<!doctype html>
<html lang="{{ site.locale }}">
  <head>
    {% render "head", metadata: site.metadata, title: data.title %}
  </head>
  <body class="{{ data.layout }} {{ data.page_class }} flex h-full flex-col bg-zinc-50">

    <div class="relative">
      <main class="mx-auto max-w-7xl p-6 sm:p-12">
        {{ content }}
      </main>
    </div>

  </body>
</html>
