<!doctype html>
<html lang="{{ site.locale }}">
  <head>
    {% render "head", metadata: site.metadata, title: data.title %}
  </head>
  <body class="{{ data.layout }} {{ data.page_class }}">

    <main class="max-w-screen-md mx-auto px-4 sm:px-6 md:px-8">
      {{ content }}
    </main>

  </body>
</html>
